    body{
        background-color: lightgray;
    }

.flex-container{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}

.flex-container div{
    box-shadow: 0 2px 10px ;
    width: 250px;
    height: 320x;
    border-radius: 20px;
    padding: 20px;
    background-color: whitesmoke;

}

.flex-container h1{
    text-align: center;
}

.flex-container button{
    display: block;
    background-color: lightgray;
    border-radius: 20px;
    padding: 10px;
    margin: auto;
}

.flex-container p{
    color: lightslategray;
}

.flex-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

